.btn {
  padding: 0.8rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--color-border);
  cursor: pointer;
  line-height: 1;
  //transition: background-color 0.2s linear;

  &:hover,
  &:focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  }
}

.btn--transparent {
  border: none;
  background-color: transparent;
  color: inherit;
}

.btn--icon {
  padding: 0.25rem;
}

.btn--primary {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue-dark-1);

  &:hover,
  &:focus {
    background-color: var(--color-blue-dark-2);
    border-color: var(--color-blue-dark-2);
  }
}

.btn--warning {
  color: var(--color-white);
  background-color: var(--color-yellow);
  border-color: var(--color-yellow-dark-1);

  &:hover,
  &:focus {
    background-color: var(--color-yellow-dark-2);
    border-color: var(--color-yellow-dark-2);
  }
}

.btn--secondary, .btn--success {
  color: var(--color-white);
  background-color: var(--color-green-light-1);
  border-color: var(--color-green-dark-1);

  &:hover,
  &:focus {
    background-color: var(--color-green-dark-2);
    border-color: var(--color-green-dark-2);
  }
}

.btn--danger {
  color: var(--color-white);
  background-color: var(--color-red-light-1);
  border-color: var(--color-red-dark-1);

  &:hover,
  &:focus {
    background-color: var(--color-red-dark-2);
    border-color: var(--color-red-dark-2);
  }
}