.form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-size: 1.8rem;

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.form--user {
  .form__actions {
    & > button {
      width: 150px;
    }
  }
}