.usersList {

  &__header {
    padding-bottom: 1.5rem;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1.5rem;

    .userCard {
      height: 100%;
    }
  }
}