:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #aab4be;
  --color-text: #212121;

  /*--color-primary: ;*/
  /*--color-secondary: ;*/
  /*--color-tertiary: ;*/
  --color-info: #f5bf75;
  --color-error: #f62e36;
  --color-success: #019a66;
  --color-warning: #f39700;
}